<h2>ゆるヨガ日記からのお知らせ</h2>
いつもゆるヨガ日記をご利用いただきありがとうございます！
<br>
<br>
この度、<%= @user.name %>様の日記作成継続日が<%= @continued_diary %>日を迎えましたので、ご連絡いたします。
<br>
<br>
<h4>おめでとうございます！</h4>
<br>
<br>
この調子で今後も頑張って下さいね。
<br>
<br>
今後ともゆるヨガ日記をよろしくお願いいたします。
