<h3>ゆるヨガ日記からのお知らせ</h3>
<%= @user.name %>様
<br>
<br>
いつもゆるヨガ日記をご利用いただきありがとうございます。
<br>
<br>
<%= @user.name %>様はしばらく日記を作成されていないようです。
<br>
<br>
是非自分のための時間を少しだけ作って、ヨガライフを楽しんで下さいね。
<br>
<br>
今後ともゆるヨガ日記をよろしくお願いいたします。
