<div class="container">
<h4><%= t('view.diary') %>を書く</h4>

<%= render 'form', diary: @diary %>
<br>
<%= link_to '戻る', search_diaries_path, class: "btn btn-outline-secondary btn-sm" %>
<p style="margin: 5px">&nbsp;</p>
</div>
