<p class="top_page_image"></p>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div style="text-align: center;">
        <div class="card" style="width: 20rem; height: 20rem;">
          <div class="card-body">
            <%= image_tag "rose.png", class: "card-img-top p-1", style: "width:50%; height: 50%" %>
            <p class="card-text pt-3">1日1ポーズだけ。<br>忙しい毎日の中の、数分程度の時間、<br>自分のために使って見ませんか？</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div style="text-align: center;">
        <div class="card" style="width: 20rem; height: 20rem">
          <div class="card-body">
            <%= image_tag "bird.png", class: "card-img-top pb-1", style: "width:50%; height: 50%" %>
            <p class="card-text pt-3">他の人がどんなヨガライフを<br>送っているのか気になる！<br>どんなポーズが人気なのだろう？<br>そんな疑問の答えがここにあります。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div style="text-align: center;">
        <div class="card" style="width: 20rem; height: 20rem">
          <div class="card-body">
          <%= image_tag "clover.png", class: "card-img-top pb-1", style: "width:50%; height: 50%" %>
            <p class="card-text pt-3">どんなことも継続は難しい。<br>過去の自分の日記を読み返す、<br>自分が頑張って続けた結果を見て、<br>楽しんで続けられます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="m-5"></p>
