<div class="container">
<h4><%= t('view.event') %>を編集</h4>

<%= render 'form', event: @event %>

<%= link_to '詳細', @event, class: "btn btn-outline-secondary btn-sm" %>
<%= link_to '戻る', events_path, class: "btn btn-outline-secondary btn-sm" %>
</div>
