<div class="container">
<h4><%= t('view.event') %>を追加する</h4>

<%= render 'form', event: @event %>
<br>
<%= link_to '戻る', events_path, class: "btn btn-outline-secondary btn-sm" %>
<p style="margin: 5px">&nbsp;</p>
</div>
