@import "bootstrap";
@import "simple_calendar";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";
@import "jquery-ui";
@import "mdb";

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #38383E;
  background-color: #fef6fb;
  margin-bottom: 60px;
}

.navbar a {
  color: #ffffff;
}

a {
  color: #4527a0;
}

.simple-calendar td {
  height: 5px;
}

.simple-calendar .day {
  height: 50px;
}
.simple-calendar {
  margin: 10px;
  color: #38383E;
  font-size: small;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  text-align: center;
  font-size: 80%;
}

body > .container {
  padding: 60px 15px 0;
}

.text-footer {
  margin: 20px 0;
}

.w-50 {
  padding: 20px;
}

.w-75 {
  padding: 20px;
}

.w-25 {
  padding: 20px;
}

.pagination a {
  color: #6495ed;
}

.pagination .page-item.active .page-link {
  background-color: #8c9eff;
  border-color: #6495ed;
  color: #212529;
}

.pagination a:hover:not(.active) {background-color: #67C7D4;}

.ui-widget-content {
  border: 1px solid #666!important;
  width: 100px;
  background: #ffffff;
  color: #67C7D4;
  list-style-type: none;
  padding-left: 10px;
}

.ui-helper-hidden-accessible { display:none; }

.top_page_image {
  background-image: image-url('top_page_image_2.png');
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 800px;
}
